* {
    margin: 0;
}

.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right, #91C0DA, #6B6DE4, #AD8BA4);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.defeat {
    font-size: 6em;
    font-family: 'Tourney', cursive;
    color: #d10e0e;
    text-shadow: 1px 1px 2px black;
}

.text {
    max-width: 50em;
    padding: 0 2em;
    text-align: center;
    line-height: 1.3em;
    font-family: 'Press Start 2P', cursive;
}

.playAgain {
    padding: 0.5em;
    border: 0.2em solid #fbff00;
    font-family: 'Press Start 2P', cursive;
    color: #000;
    text-decoration: none;
}

.playAgain:hover {
    cursor: pointer;
    background-color: #fbff00;
}