* {
    margin: 0;
}

.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right, #91C0DA, #6B6DE4, #AD8BA4);
}

.colorPicker {
    background-color: rebeccapurple;
}

.colorPickerButton {
    height: 20px;
    width: 20px;
}

.board {
    background-color: red;
}