* {
    margin: 0;
}

.app {
    padding: 5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right, #91C0DA, #6B6DE4, #AD8BA4);
}

.game {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: #1f1f1f59;
    border: 2px solid #fbff00;
    box-shadow: 0 0 3px 1px #000;
}

.colorPicker {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.colorPickerButton {
    height: 2em;
    width: 2em;
    border: 2px solid #000;
}

.colorPickerButton:hover {
    border: 2px solid #fff;
    box-shadow: 0 0 3px #fff;
    cursor: pointer;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.boardRow {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background-color: #ffffff8f;
}

.boardRowSelection {
    display: flex;
    gap: 0.5em;
}

.boardRowSelectionColor {
    height: 2em;
    width: 2em;
    outline: 2px solid #000;
}

.boardRowComprobation {
    display: flex;
    justify-content: space-around;
    gap: 0.5em;
}

.boardRowComprobationColor {
    height: 1em;
    width: 1em;
    outline: 2px solid #000;
    border-radius: 50%;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.check, .remove {
    padding: 0.5em;
    background-color: transparent;
    border: 2px solid #fbff00;
    font-family: 'Press Start 2P', cursive;
}

.check:hover, .remove:hover {
    cursor: pointer;
    background-color: #fbff00;
}

@media(max-width: 770px) {
    .app {
        height: 100%;
        padding: 4em 0;
    }
}