* {
    margin: 0;
}

.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right, #91C0DA, #6B6DE4, #AD8BA4);
}

.colors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    font-family: 'Press Start 2P', cursive;
}

.colorsSelection {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
}

.colorsSelectionColor {
    height: 3em;
    width: 3em;
    border: 2px solid black;
}

.colorsDelete {
    color: #d10e0e;
}

.colorsOptions {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
}

.colorsOptionsColor {
    height: 3em;
    width: 3em;
    border: 2px solid black;
}

.colorsOptionsColor:hover {
    border: 2px solid #fff;
    cursor: pointer;
}

.color1 {
    background-color: rgb(0, 128, 128);
}
  
.color2 {
    background-color: rgb(255, 127, 80);
}
  
.color3 {
    background-color: rgb(255, 91, 250);
}
  
.color4 {
    background-color: rgb(255, 215, 0);
}
  
.color5 {
    background-color: rgb(75, 0, 130);
}

.color6 {
    background-color: rgb(93, 205, 233);
}
  
.color7 {
    background-color: rgb(25, 25, 112);
}
  
.color8 {
    background-color: rgb(97, 172, 0);
}
  
.color9 {
    background-color: rgb(209, 62, 46);
}
  
.color10 {
    background-color: rgb(80, 80, 80);
}

.colorsPlay {
    font-size: 2em;
    color: #fbff00;
}

.colorsDelete:hover, .colorsPlay:hover {
    cursor: pointer;
    text-decoration: underline;
}